<nav>
    <ul class="navAdmin">
        <li class="adminButtons"><a href="../addPost">Add Post</a></li>
        <li class="adminButtons"><a href="../listPostAdmin">Edit Post</a></li>
        <li class="adminButtons"><a href="../logout">Logout</a></li>
    </ul>
</nav>